---
## from mhn/honeymap

## recent golang?
## alternative? https://launchpad.net/~evarlast/+archive/ubuntu/golang1.4
- name: Set fact for arch i386
  ansible.builtin.set_fact:
    architecture: 386
    golang_hash: "{{ golang_hash_linux_386 | default(omit) }}"
  when: ansible_architecture == 'i386'
- name: Set fact for arch x86_64
  ansible.builtin.set_fact:
    architecture: amd64
    golang_hash: "{{ golang_hash_linux_amd64 | default(omit) }}"
  when: ansible_architecture == 'x86_64'
- name: Set fact for Linux
  ansible.builtin.set_fact:
    go_url: "https://go.dev/dl/go{{ golang_gover }}.linux-{{ architecture }}.tar.gz"
    go_dest: "/usr/local/go{{ golang_gover }}.linux-{{ architecture }}.tar.gz"
  when: ansible_system == 'Linux'

- name: Check if golang archive is present
  ansible.builtin.stat:
    path: "/usr/local/go{{ golang_gover }}.linux-{{ architecture }}.tar.gz"
  register: goarchive
- name: Download recent golang
  ansible.builtin.get_url:
    url: "{{ go_url }}"
    dest: "{{ go_dest }}"
    mode: "0440"
    checksum: "{{ golang_hash | default(omit) }}"

  when: not goarchive.stat.exists
- name: Check if go binary is present
  ansible.builtin.stat:
    path: /usr/local/go
  register: godir
- name: Extract go archive to /usr/local
  ansible.builtin.unarchive:
    src: "{{ go_dest }}"
    dest: /usr/local/
    mode: '0755'
    copy: no
  when: not godir.stat.exists

- name: Add symlinks from /usr/local/go/bin to /usr/bin
  ansible.builtin.file:
    src: "/usr/local/go/bin/{{ item }}"
    dest: "/usr/bin/{{ item }}"
    mode: '0755'
    state: link
  with_items:
    - go
    - gofmt
